  /* reset browser styles */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/* end reset browser styles */

$gradient: linear-gradient(to right, #45c3c3, #3290a4);

body{
  width: 100%;
  background-image: $gradient;
}

.wrapper {
  width: 210px;
  margin: 30px auto 10px;
  text-align: center;
}

.wrapper h1 {
  color: #3B0F25;
  font-family: PlayfairDisplay-Regular, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.1em;
}

.wrapper h2 {
  color: #3B0F25;
  font-family: PlayfairDisplay-Regular, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
}

.wrapper img {
  padding-top: 20px;
}

.wrapper p {
  margin-top: 30px;
}

.wrapper button {
  color: #3B0F25;
  background-color: #cfe5c7;
  padding: 10px;
  border-radius: 2px;
  font-weight: bold;
}
